body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.topnav {
overflow: hidden;
background-color: rgb(255, 255, 255);
padding: 10px;
font-size: 20px;
font-weight: bold;
}

.topnav a {
float: left;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
.topnav a:hover {
background-color: #ddd;
color: rgb(0, 0, 0);
}

.topnav a.active {
background-color: rgb(255, 255, 255);
color: rgb(0, 153, 255);
}
.topnav th.active {
background-color: rgb(255, 255, 255);
color: rgb(0, 153, 255);
background-color: rgb(30, 30, 30);
}
.topnav td {
background-color: rgb(255, 255, 255);
font-weight: normal;
}

.topnav-right {
float: right;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.table{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.table th, td {
    border-bottom: 1px solid black;
}
.button {
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}
table.roundedCorners { 
border: 1px solid black;
border-radius: 13px; 
border-spacing: 0;
}
table.roundedCorners td{ 
border-bottom: 1px solid black;
padding: 10px; 
background-color: transparent;
}
table.roundedCorners th { 
    border-bottom: 1px solid black;
    padding: 10px; 
    color: black;
    background-color: transparent;
}
table.roundedCorners tr:last-child > td {
border-bottom: none;
}
iframe {
    border: 0;
    border-radius: 30px; 
}